exportPattern("^[[:alpha:]]+")
import(rJava,gplots,smacof)
importFrom("graphics", "arrows", "plot", "text")
importFrom("methods", "is")
importFrom("stats", "as.dist")
export(slidevector)
export(hmap)
export(skewsymmetry)
export(asymscal)
export(mdsunique)
S3method(print, slidevector)
S3method(print, mdsunique)
S3method(summary, slidevector)
S3method(plot, slidevector)
S3method(plot, mdsunique)
S3method(plot, skewsymmetry)
S3method(summary, skewsymmetry)
importFrom("stats", "dist")
