exportPattern("^[[:alpha:]]+")
import(rJava,gplots)
importFrom("graphics", "arrows", "plot", "text")
export(slidevector)
export(hmap)
export(decomposition)
S3method(print, slidevector)
S3method(summary, slidevector)
S3method(plot, slidevector)
